venv/
__pycache__/
*.pyc
*.db
data/samples/*
!data/samples/.gitkeep
.env

# Reports
reports/
report/
*.pdf
*.csv
*.xlsx
*.xls
*report*

# GX files
gx/
*.gx

# Informational files
*.txt
*.md
*.log
*.info
!requirements.txt
!README.md
